<!-- Header-->
<header class="header">
    <!-- Top bar -->
    <div class="py-2 bg-dark text-white">
        <div class="container py-1">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <ul class="list-inline mb-0 text-small">
                        <li class="list-inline-item"><a class="reset-anchor active" id="link0" asp-area="" asp-controller="home" asp-action="about">About us</a></li>
                        <li class="list-inline-item">|</li>
                        <li class="list-inline-item"><a class="reset-anchor" href="#">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 d-none d-lg-block text-center">
                    <ul class="list-inline mb-0 small">
                        <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a></li>
                        <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 d-none d-lg-block text-right">
                    <div class="col-lg-9">
                        <ul class="list-inline mb-0 text-small">
                            @{ 
                                if (!ViewBag.isAut)
                                {
                                    <li class="list-inline-item"><a class="reset-anchor" id="linkreg" asp-area="" asp-controller="account" asp-action="register">Регистрация</a></li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item"><a class="reset-anchor" id="linklog" asp-area="" asp-controller="account" asp-action="login">Вход</a></li>
                                }
                                else
                                {
                                    <li class="list-inline-item"><a class="reset-anchor" id="linklogout" asp-area="" asp-controller="account" asp-action="logout">Выход</a></li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item"><a class="reset-anchor" id="linklogout" href="#" @*asp-area="" asp-controller="account" asp-action="logout"*@>@ViewBag.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar 1 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container text-center">
            <a class="navbar-brand mx-auto" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="mb-2" src="~/img/logo.svg" alt="" width="140">
                <p class="text-small text-uppercase text-gray mb-0">Your next pocket travel guide</p>
            </a>
        </div>
    </nav>
    <!-- Navbar 2 -->
    <nav class="navbar navbar-expand-lg navbar-light border-gray py-2 bg-light">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right mx-auto border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-1">
                        <!-- Link--><a class="nav-link active" id="link1" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item px-1">
                        <!-- Link--><a class="nav-link" id="link2" asp-area="" asp-controller="home" asp-action="listing">Listing</a>
                    </li>
                    <li class="nav-item px-1">
                        <!-- Link--><a class="nav-link" id="link3" asp-area="" asp-controller="home" asp-action="post">Post</a>
                    </li>
                    <li class="nav-item px-1 dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <div class="dropdown-menu text-center text-lg-left" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="index.html">Home</a><a class="dropdown-item" href="listing.html">Listing</a><a class="dropdown-item" href="post.html">Post</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>